body {
   margin: 0;
   padding: 0;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 #container{
   width:60%;
   background: rgb(123, 182, 123);
   margin:20px auto;
   overflow:auto;
   padding:25px;
 }

 header {
  text-align:center;
  border-bottom: rgb(250, 250, 250) dashed 3px;
  background-color: #db6845;
  /* margin: 0 auto;
  height: 50px; */
}

section {
  min-height:500px;
}

input[type="submit"]{
  background-color: whitesmoke;
  padding:10px 15px;
  cursor: pointer;
}

header h1 {
  color: whitesmoke;
  padding: 0px;
  margin: 0;
}

header p {
  padding: 0;
  margin-top: 5px;
}

 h2 {
   color: whitesmoke;
   
 }

 h3 {
  color: whitesmoke;
}

#results h3 {
  background:#f06226;
  padding:10px;
  margin:10px;
}

#results span{
  color: #000;
  font-weight: bold;
}

 
 main {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto;
   grid-gap: 20px;
   padding-top: 10px;
   padding-bottom: 30px;
 }
 
 div.card {
   background-color: #eeeeee;
   height: 250px;
   width: 300px;
   box-shadow: 10px 10px grey;
   padding: 10px;
   border-radius: 10px;
 }
 
 p {
   font-size: 1.5em;
   color: whitesmoke;
   font-family: Helvetica;
 }
 
 li {
   font-size: 1.05em;
   list-style: none;
   padding-right: 20px;
 }
 
 button {
   font-size: .65em;
   color: #fff;
   background-color: green;
   border-radius: 10px;
 }